<!doctype html>
<link rel="alternate" type="application/json" href="{{ request.path }}.json">
<title>All open help requests</title>

<!--
{% if request.args["sort_by"] == "priority" %}
<a href="{{ url_for('helprequestlist') }}?sort_by=date">sort by date</a>
{% else %}
<a href="{{ url_for('helprequestlist') }}?sort_by=priority">sort by priority</a>
{% endif %}


<form class="search" method="get">
  <input name="query" type="text" value="{{ request.args["query"] }}">
  {% if 'sort_by' in request.args %}
  <input name="sort_by" type="hidden" value="{{ request.args["sort_by"] }}">
  {% endif %}
  <input class="query" type="submit" value="search">
</form>
-->
<h1>Notebook</h1>

<table class="notes-table" style="width: 100%; border: 1px solid black;">
  <tr><td>Time</td><td>Title</td><td>Author</td></tr>
  {% for helprequest_id, helprequest in helprequests %}
  <tr>
    <td><time>{{ helprequest.date }}</time></td>
    <td>
    <a href="{{ url_for('helprequest', helprequest_id=helprequest_id) }}">
      <span>{{ helprequest.title }}</span>
    </a>
    </td>
    <td>
      <a href="{{ helprequest.author.profile_url }}">
      <span>{{ helprequest.author.name }}</span></a>
    </td>
  </tr>
  {% endfor %}
</table>

<br>

<form class="helprequest-editor" action="{{ url_for('helprequestlist') }}" method="post">
  <label>Author
    <input name="author" type="text">
  </label>
  <br>
  <label>Profile URL
    <input name="profile_url" type="text">
  </label>
  <br>
  <label>Title
    <input name="title" type="text">
  </label>
  <br>
  <textarea rows="20" cols="80" name="note_content"></textarea>
  <br>  
  <input class="create" type="submit" value="Create new note">
</form>
